.nav{
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: greenyellow;
}
.li{
  list-style-type: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  color: white;
  width: 8rem;
  text-align: center;
  text-decoration: none;
}
.li:hover{
  background-color: green;
  cursor: pointer;
}

.img_cart{
  height: 3rem;
}

.ItemContainer{
  text-align: center;
  border: 1px solid black;
}
.btnContainer{
  display: flex;
  justify-content: center;
}

.prodContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card{
  margin: 20px;
}

.card-detail{
  width: 50%;
  margin: 20px 35%;
  display: flex;
}
.link{
  text-decoration: none;
}

.cartLink{
  text-decoration: none;
  border: 1px solid black;
  font-weight: bolder;
  display: block;
  text-align: center;
  background-color: blanchedalmond;
}
.cartLink:hover{
  background-color: bisque;
}
.cart{
  text-align: center;
}