.nav{
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: greenyellow;
}
li{
  list-style-type: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  color: white;
  width: 8rem;
  text-align: center;
}
li:hover{
  background-color: green;
  cursor: pointer;
}

.img_cart{
  height: 3rem;
}

.ItemContainer{
  text-align: center;
  border: 1px solid black;
}

.counterContainer{
  text-align: center;
  border: 3px solid black;
  width: 25%;
  margin: 0 37.5%;
}
.btnContainer{
  display: flex;
  justify-content: center;
}

.counter{
  margin: 0 50px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}